!!!
html
  head
    title= name

    - stylesheets.forEach(function (stylesheet) {
        link(rel="stylesheet", type="text/css", href='/' + stylesheet)
    - })

    - javascripts.forEach(function (javascript) {
      script(src='/' + javascript, type='text/javascript')
    - })

  - if (typeof jade === 'undefined')
    body
  - else
    body!= jade