- if (typeof buildResult === 'undefined' || buildResult.status === 'ok')
  #jasmine_container
    script
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
      jasmine.getEnv().execute();