#visuals

  h1 Visual Specs

  section#listing

    div.count count: #{Object.keys(visuals).length}

    ul
      - for visual in Object.keys(visuals)
        li
          input(type='checkbox')
          a.name(href='/spec/visual/' + visual, target='blank')= visual